// /*
//     Place for variables:
//         - colors
//         - fonts
                // - color,
                // - font-family
                // - imports
//         - margins
//         - etc.
// */
//import fonts

@import url('https://fonts.googleapis.com/css?family=Exo:400,800');
@import url('https://fonts.googleapis.com/css?family=Exo:400,800|Lato:400,900');

//fonts
$exo-font: 'Exo', sans-serif;
$lato-font:'Lato', sans-serif;


// //Colors
// $background-color: #fff;
$font-color: #fff;
// $input-color: #929090;

// //section colors
// $h1-color: #000;


// btn colors

$btn-background: #fff;
$btn-text: #000;
$btn-hover-bg: darken($btn-background, 30%);
$btn-disabled: darken($btn-background, 60%);

//focus
$btn-focus-text: $btn-background;
$btn-focus-bg: darken($btn-background, 50%);

//form/input
$invaild-input: #c60001;



// //Spacing
// $s-size:;
// $m-size:;
// $l-size:;
// $xl-sizem;
// $xxl-size:;

// //Device-size

$phone-small: 320px;
$phone: 480px;
$phone-big: 560px;
$tablet: 768px;

$tablet-landscape: 1024px;

$desktop: 1280px;

//  Responsive Grid Media Queries - 1280, 1024, 768, 480
//    1280-1024   - desktop (default grid)
//    1024-768    - tablet landscape
//    768-480     - tablet
//    480-less    - phone landscape & smaller
// --------------------------------------------*/
// @media all and (min-width: 1024px) and (max-width: 1280px) { }

// @media all and (min-width: 768px) and (max-width: 1024px) { }

// @media all and (min-width: 480px) and (max-width: 768px) { }

// @media all and (max-width: 480px) { }

$container-bg-position: 64% 66%;
$container-bg-size: 141%;